#assignment-instructions {
    font-family: sans-serif;
    color: #ecd202;
}

body {
    font-family: sans-serif;
}

code {
    font-family: monospace;
    color: red;
}

.second-item code {
    color: #02b102;
}

li + li {
    background-color: black;
    color: white;
}

ol li {
    background-color: black;
    color: white;
}